@import url(Animated.css);
@import url(Assets.css);
@import url(General.css);
@import url(Style.css);

/* Tipografia Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap');

/* </style>  Por este style es que en el foother se muestra de esa manera, aunque tambien produce que se produsca el mismo recuadro en el heather */

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* order Page (header, body and footer) */

.div-Formato {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
}

p, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
}