/* Style the galery */

#Galery h2 {
    grid-column: span 4;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#Galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

#History h3, #Economic-impact h3, #Aspect h3{
    padding-left: 30px;
}

#History p, #Economic-impact p, #Aspect p {
    padding-left: 45px;
}



