



#Galery h2 {
    grid-column: span 4;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#Galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
}